@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
body { margin: 3em; }
h1, h2, h3, h4 { color: #bd5248; font-family: Open Sans;}
a { text-decoration: none;}
p { color: #333; }

body {
    background-color: #ebebeb;}
/* 11 columns; 2 for sidebar 9 for cards && 6 rows */
.cssgrid {
  display: grid;
  grid-gap: 3em;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(11, 1fr);
}

.item.two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
  grid-row: span 2;
  grid-column: span 3;
}


/* Box shadow and hover for cards */
.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.item:hover {
  -webkit-box-shadow: 3px 6px 23px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 6px 23px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 6px 23px 10px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

/* Hide box shadow and hover for sidebar */
.item.one {
  border-bottom: 0px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  grid-row: span 6;
  grid-column: span 2;
  color: white;
}

.item.one:hover {
  border-bottom: 0px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
}


/* Card Styling */
.cards {
  margin: 1.2rem;
}

.pugprice {
  color: #bd5248;
  text-align: center;
  font-size: 1.25em;
  margin-top: -1.2em;
}

#LOGO {
  text-align: center;
  margin-left: 0.25em;
  font-weight: 600;
  font-size: 3em;
}

#LOGO {
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  margin-top: -2.5em;
  margin-left: .5em;
}

#pugcontact, #pugaboutus, #pugsocial {
  top: 30%;
  font-size: 18px;
  text-align: center;
}

#pugphone, #puginsta, #puginfo {
  text-align: center;
}

hr { margin: 2em; }

.mission {
  margin: 1em;
  font-size: 1.2em;
}

.shirt {
  width: 100%;
  height: 100%;
}

.itemdesc {
  color: #333;
  text-align: center;
  font-size: 1.25em;
}


/************** MEDIA *************/

@media (max-width: 980px) {
  
  /* 2 columns */
  .cssgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
  
  /* 2 columns */
  .item.one {
    height: 10em;
    margin-top: -2em;
    z-index: -1;
  }

  /* 1 column */
  .item.two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
    grid-column: span 1;
  }
  
 
  /* Hide box shadow & border, Hide sidebar contents, Hide hover */
  
  .item {
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  }
  
  #pugcontact, #pugaboutus, #pugphone, #puginfo, #puginsta, #pugsocial, hr {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  
  .item:hover {
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  }
}
 




@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
  height: 100%;
}



nav {
  max-width: 960px;
  /* The mask-image gives us some extra fading. It is not necessary but without this, you can't face out the box-shadows. This clips our menu */
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  /* Using padding instead of margin for the top and bottom here will keep our box-shadow visible and not affected by the mask-image */
  padding: 75px 0;
}

nav ul {
  text-align: center;
  width: 100%;

}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
 