<!DOCTYPE html>
<html>
<head>
  <title>SR Backpacks</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
</head>
<body>

<body>

  <div class="cssgrid">

    <!-- side bar -->
    <div class="item one">
    <a href="../index.html">
      <h1 id="LOGO">SR</h1> </a>
      <hr>
    <a href="about.html">
      <h2  id="pugaboutus">ABOUT US
      </H2>
    </a>
        <hr>
            <a href="contact.html">
      <h2  id="pugaboutus">CONTACT
      </H2>
    </a>
      <hr>
       <a href="social.html">
      <h2  id="pugaboutus">SOCIAL
      </H2>
    </a>   </div>
    <!-- end sidebar -->

    <!-- 9 cards -->
    <div class="item two">
        <div class="cards">
          <img src="../media/contact1.png" alt="SALES@SR1990.COM"  class="shirt"></img>

        </div>
      </a>
    </div>

    <div class="item three">
        <div class="cards">
          <img src="../media/contact2.png" alt="260 w 36th st "  class="shirt"></img>
        </div>
      </a>
    </div>

    <div class="item four">
        <div class="cards">
          <img src="../media/contact3.png" alt="551 265 8766" class="shirt"></img>
        
        </div>
      </a>
    </div>



 
      </a>
    </div>


      </a>
    </div>

  </div>
