<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/social.css">
</head>
<body>

<body>

  <div class="cssgrid">

    <!-- side bar -->
    <div class="item one">
    <a href="../index.html">
      <h1 id="logo">SR</h1> </a>
      <hr>
    <a href="about.html">
      <h2  id="pugaboutus">ABOUT US
      </H2>
    </a>
        <hr>
            <a href="contact.html">
      <h2  id="pugaboutus">CONTACT
      </H2>
    </a>
      <hr>
       <a href="social.html">
      <h2  id="pugaboutus">SOCIAL
      </H2>
    </a>
    </div>
    <!-- end sidebar -->

    <!-- 9 cards -->
    <div class="item two">
        <div class="cards">
          <img src="../media/social1.png" alt="ODALYS" class="shirt"></img>

        </div>
      </a>
    </div>

    <div class="item three">
        <div class="cards">
          <img src="../media/social2.png" alt="WHITEONWHITE"   class="shirt"></img>
        </div>
      </a>
    </div>

    <div class="item four">
        <div class="cards">
          <img src="../media/social3.png" alt="DEXTER" class="shirt"></img>
        
        </div>
      </a>
    </div>



 
      </a>
    </div>


      </a>
    </div>

  </div>
